In [9]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd
import numpy as np
import html
import matplotlib as plt
import re
from itertools import combinations
pd.set_option('display.max_columns', None)

In [10]:
fuzz.ratio("Marmar Restaurant Corp.", "Zara Restaurant Corp.")

91

In [11]:
fuzz.token_set_ratio("La Nueva Amistad Bakery And Restaurant Corp.","El Viejo Jhons Restaurant Corp")

67

In [12]:
df1=pd.read_csv('cleaned_historic_inspections.csv')

In [13]:
df1

,objectid,globalid,Seating Interest (Sidewalk/Roadway/Both),Restaurant Name,Legal Business Name,Doing Business As (DBA),Building Number,Street,Borough,Postcode,Business Address,Food Service Establishment Permit #,Sidewalk Dimensions (Length),Sidewalk Dimensions (Width),Sidewalk Dimensions (Area),Roadway Dimensions (Length),Roadway Dimensions (Width),Roadway Dimensions (Area),Approved for Sidewalk Seating,Approved for Roadway Seating,Qualify Alcohol,SLA Serial Number,SLA License Type,Landmark District or Building,landmarkDistrict_terms,healthCompliance_terms,Time of Submission,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,13610,FD87ABAA-860E-4762-845D-8F0403D0246B,Roadway,Madame Bonte,Beanhouse LLC,Madame Bonte,318,East 84th Street,Manhattan,10028,"318 East 84th Street, Manhattan, NY",50114174,NaN,NaN,NaN,10.0,8.0,80.0,no,yes,yes,1346965.0,TW,no,NaN,yes,06/09/2022 04:26:00 PM,40.776277,-73.952051,8.0,5.0,138.0,1049941.0,1.015460e+09,Yorkville
1,5900,3B07E4C0-07B7-4079-8333-64446CC3EE03,Sidewalk,Seasoned Vegan,"Seasoned Vegan, LLC","Seasoned Vegan, LLC",55,St. Nicholas Avenue,Manhattan,10026,"55 St. Nicholas Avenue, Manhattan, NY",50003337,47.0,3.0,141.0,NaN,NaN,NaN,yes,no,yes,1289526.0,RW,no,NaN,yes,06/26/2020 08:38:00 PM,40.800500,-73.952507,10.0,9.0,216.0,1054995.0,1.018220e+09,Central Harlem South
2,13018,137C575D-DC14-4F9D-83D9-A3FFE513B3B8,Sidewalk,Americas Cafe & Grill,68th Grill Inc.,Americas Cafe & Grill,1159,3rd Avenue,Manhattan,10065,"1159 3rd Avenue, Manhattan, NY",40797684,8.0,8.0,64.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,no,NaN,yes,10/22/2021 11:01:00 AM,40.766845,-73.962708,8.0,4.0,118.0,1043896.0,1.014220e+09,Lenox Hill-Roosevelt Island
3,11630,15270732-2A78-4C24-89DD-BE8DD916F115,Roadway,Sushi Seki,Seki Inc.,Sushi Seki,208,West 23rd Street,Manhattan,10011,"208 West 23rd Street, Manhattan, NY",50005983,NaN,NaN,NaN,44.0,8.0,352.0,no,yes,yes,0.0,OP,no,NaN,yes,12/14/2020 07:54:00 PM,40.744338,-73.996240,4.0,3.0,91.0,1014129.0,1.007720e+09,Hudson Yards-Chelsea-Flatiron-Union Square
4,13137,EF9C8173-91D1-496E-8BD4-B02BEADC2A21,Roadway,Sami & Susu,Amir Nathan,Sami & Susu,190,Orchard Street,Manhattan,10002,"190 Orchard Street, Manhattan, NY",50112624,NaN,NaN,NaN,22.0,8.0,176.0,no,yes,yes,0.0,TW,no,NaN,yes,12/22/2021 12:46:00 PM,40.722124,-73.988160,3.0,1.0,3001.0,1005393.0,1.004120e+09,Chinatown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14423,9799,108C6784-54DB-480B-8627-CF0495D27A0E,Both,King Of Spades Inc.,King Of Spades Inc.,King Of Spades Inc.,1425,College Point Boulevard,Queens,11356,"1425 College Point Boulevard, Queens, NY",50072483,22.0,4.0,88.0,22.0,8.0,176.0,yes,yes,yes,0.0,OP,no,NaN,yes,08/04/2020 03:27:00 PM,40.784739,-73.845776,7.0,19.0,929.0,4098349.0,4.040850e+09,College Point
14424,8215,7B8EC275-D470-4106-819E-03FC0E1F9717,Both,La Queen Tea House Inc.,La Queen Tea House Inc.,La Queen Tea House Inc.,752B,61st Street,Brooklyn,11220,"752B 61st Street, Brooklyn, NY",50105060,26.0,7.0,182.0,26.0,8.0,208.0,yes,yes,no,NaN,NaN,no,NaN,yes,07/13/2020 03:53:00 PM,40.635543,-74.011220,7.0,38.0,118.0,3143885.0,3.057940e+09,Sunset Park East
14425,2895,476F88D2-D3E8-4E83-8686-8BAC2F752CF5,Sidewalk,Aahar Indina Cuisine,Vidhan Bhatt Inc.,Vidhan Bhatt Inc.,10,Murray Street,Manhattan,10007,"10 Murray Street, Manhattan, NY",50049997,25.0,14.0,350.0,NaN,NaN,NaN,yes,no,yes,1298882.0,RW,no,NaN,yes,06/21/2020 01:46:00 PM,40.713298,-74.007773,1.0,1.0,21.0,1001399.0,1.001240e+09,SoHo-TriBeCa-Civic Center-Little Italy
14426,607,FF0D04EF-1D9A-47D6-8F20-8BDBDBCE2792,Sidewalk,Le Cafe Coffee,Le Cafe Coffee LLC,Le Cafe Coffee LLC,145,4th Avenue,Manhattan,10003,"145 4th Avenue, Manhattan, NY",50042698,10.0,10.0,100.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,no,NaN,yes,06/19/2020 01:19:00 PM,40.733916,-73.989872,3.0,2.0,42.0,1077569.0,1.005590e+09,East Village
14427,6641,9DBBF87C-AE3D-4487-81A4-30E44806614F,Both,Kashkaval Garden,Kashkaval Kitchen LLC,Kashkaval Kitchen LLC,852,9th Avenue,Manhattan,10019,"852 9th Avenue, Manhattan, NY",41713066,10.0,3.0,30.0,10.0,3.0,30.0,yes,yes,yes,0.0,OP,no,NaN,yes,06/30/2020 10:33:00 PM,40.766927,-73.986423,4.0,3.0,139.0,1025423.0,1.010460e+09,Clinton

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14428 entries, 0 to 14427
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   objectid                                  14428 non-null  int64
 1   globalid                                  14428 non-null  object
 2   Seating Interest (Sidewalk/Roadway/Both)  14428 non-null  object
 3   Restaurant Name                           14428 non-null  object
 4   Legal Business Name                       14428 non-null  object
 5   Doing Business As (DBA)                   14427 non-null  object
 6   Building Number                           14329 non-null  object
 7   Street                                    14428 non-null  object
 8   Borough                                   14428 non-null  object
 9   Postcode                                  14428 non-null  int64
 10  Business Address                          14329 non-null  object
 11  Food Service Establishment Permit #       14422 non-null  object
 12  Sidewalk Dimensions (Length)              12118 non-null  float64
 13  Sidewalk Dimensions (Width)               12118 non-null  float64
 14  Sidewalk Dimensions (Area)                12118 non-null  float64
 15  Roadway Dimensions (Length)               9054 non-null   float64
 16  Roadway Dimensions (Width)                9054 non-null   float64
 17  Roadway Dimensions (Area)                 9054 non-null   float64
 18  Approved for Sidewalk Seating             14428 non-null  object
 19  Approved for Roadway Seating              14428 non-null  object
 20  Qualify Alcohol                           14428 non-null  object
 21  SLA Serial Number                         9448 non-null   float64
 22  SLA License Type                          9449 non-null   object
 23  Landmark District or Building             14428 non-null  object
 24  landmarkDistrict_terms                    2129 non-null   object
 25  healthCompliance_terms                    14428 non-null  object
 26  Time of Submission                        14428 non-null  object
 27  Latitude                                  13121 non-null  float64
 28  Longitude                                 13121 non-null  float64
 29  Community Board                           13121 non-null  float64
 30  Council District                          13121 non-null  float64
 31  Census Tract                              13121 non-null  float64
 32  BIN                                       13026 non-null  float64
 33  BBL                                       13026 non-null  float64
 34  NTA                                       13121 non-null  object
dtypes: float64(14), int64(2), object(19)
memory usage: 3.9+ MB

In [15]:
df1['Global_Restaurant_ID'] = ''
df1['Latest_Inspection_Row'] = ''

In [16]:
global_restaurant_id_counter = 0

def are_names_similar(name1, name2, threshold=95):
    return fuzz.ratio(name1, name2) > threshold

# Step 3: Create a function to update Global Restaurant ID and Latest Inspection Row
def update_global_id_and_latest_row(group):
    global global_restaurant_id_couner

    # Initialize variables for tracking similar restaurants within the same BIN
    similar_restaurants = {row_index: [row_index] for row_index in group.index}

    # Find similar restaurants within the same BIN
    for (row_index1, row_index2) in combinations(group.index, 2):
        name1 = group.loc[row_index1, 'Restaurant Name']
        name2 = group.loc[row_index2, 'Restaurant Name']

        if are_names_similar(name1, name2):
            similar_restaurants[row_index1].append(row_index2)
            similar_restaurants[row_index2].append(row_index1)

    # Update Global Restaurant ID and Latest Inspection Row for similar restaurants
    for similar_group in similar_restaurants.values():
        if len(similar_group) > 1:
            global_restaurant_id_counter += 1
            group.loc[similar_group, 'Global_Restaurant_ID'] = f"{global_restaurant_id_counter:08d}"

            # Find the row with the latest time of inspection within the similar group
            latest_inspection_row = max(similar_group, key=lambda x: group.loc[x, 'Time of Submission'])
            group.loc[similar_group, 'Latest_Inspection_Row'] = 0
            group.loc[latest_inspection_row, 'Latest_Inspection_Row'] = 1
        else:
            global_restaurant_id_counter += 1
            group.loc[similar_group, 'Global_Restaurant_ID'] = f"{global_restaurant_id_counter:08d}"
            group.loc[similar_group, 'Latest_Inspection_Row'] = 1

    return group

# Step 4: Handle NULL values in the 'BIN' column
df1['BIN'] = df1['BIN'].astype(str).fillna('NULL')

# Step 5: Group by BIN and apply the update function
grouped = df1.groupby('BIN', group_keys=False).apply(update_global_id_and_latest_row)

# Step 6: For remaining rows, update Global Restaurant ID and Latest Inspection Row
remaining_rows = df1[df1['Latest_Inspection_Row'].isna()]
global_restaurant_id_counter += 1
remaining_rows['Global_Restaurant_ID'] = f"{global_restaurant_id_counter:08d}"
remaining_rows['Latest_Inspection_Row'] = 1

# Step 7: Concatenate the updated groups and remaining rows
final_df = pd.concat([grouped, remaining_rows])

# Step 8: Sort the DataFrame if needed
final_df = final_df.sort_values(by=['Global_Restaurant_ID', 'Time of Submission'])

# Display the final DataFrame
final_df

NameError: name 'update_global_id_and_latest_row' is not defined

In [ ]:
final_df['Global_Restaurant_ID'].value_counts()

In [ ]:
final_df[final_df['Global_Restaurant_ID']=='00007217']

In [ ]:
df2=pd.read_csv('cleaned_current_open_inspections.csv')

In [ ]:
df2['Global_Restaurant_ID'] = ''
df2['Latest_Inspection_Row'] = ''

In [ ]:
df2['BIN'] = df2['BIN'].astype(str).fillna('NULL')

In [ ]:
df2

In [ ]:
def find_matching_name(row, df):
    bin_value = row['BIN']
    restaurant_name = row['RestaurantName']
    
    # Filter df1 for the same BIN and non-null restaurant names
    filtered_df = df[df['BIN'] == bin_value].dropna(subset=['Restaurant Name'])
    
    # Apply fuzzywuzzy to find best match
    matches = filtered_df['Restaurant Name'].apply(lambda x: fuzz.ratio(restaurant_name, x) > 95)
    
    # Get the corresponding Global Restaurant ID from df1
    matching_id = filtered_df.loc[matches, 'Global_Restaurant_ID'].values
    
    # Return the matching Global Restaurant ID
    return matching_id[0] if len(matching_id) > 0 else None

# Apply the function to create a new column in df2
df2['Global_Restaurant_ID'] = df2.apply(lambda row: find_matching_name(row, final_df), axis=1)

In [ ]:
df2

In [ ]:
df2['Global_Restaurant_ID'].info()

In [ ]:
df2[df2['Global_Restaurant_ID'].isna()]

In [ ]:
df3=pd.read_csv('cleaned_dohmh.csv')

In [ ]:
df3['Global_Restaurant_ID'] = ''
df3['Latest_Inspection_Row'] = ''

In [ ]:
df3['BIN'] = df3['BIN'].astype(str).fillna('NULL')

In [ ]:
df3

In [ ]:
def find_matching_name2(row, df):
    bin_value = row['BIN']
    restaurant_DBA = row['DBA']
    street_name = row['STREET']  # Assuming 'StreetName' is the column containing street names
    
    # Filter df for the same BIN and non-null restaurant names
    filtered_df = df[df['BIN'] == bin_value]
    
    # Concatenate restaurant name and street name for fuzzy matching
    filtered_df['Combined_Name'] = filtered_df['Doing Business As (DBA)'] + ' ' + filtered_df['Street']
    
    # Apply fuzzywuzzy to find best match
    matches = filtered_df['Combined_Name'].apply(lambda x: fuzz.ratio(restaurant_DBA + ' ' + street_name, x) > 95)
    
    # Get the corresponding Global Restaurant ID from df
    matching_id = filtered_df.loc[matches, 'Global_Restaurant_ID'].values
    
    # Return the matching Global Restaurant ID
    return matching_id[0] if len(matching_id) > 0 else None

df3['Global_Restaurant_ID'] = df3.apply(lambda row: find_matching_name2(row, final_df), axis=1)

In [ ]:
df3

In [ ]:
df3['Global_Restaurant_ID'].info()

In [ ]:
df3['Global_Restaurant_ID'].value_counts()

In [ ]:
df3[df3['Global_Restaurant_ID']=='00012279']